<div role="document" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="userForm">
          <label>Name</label>
          <input class="form-control" type="text" formControlName="name">
          <div *ngIf="userForm.controls.name.invalid && (userForm.controls.name.dirty || userForm.controls.name.touched)">
            <div *ngIf="userForm.controls.name.errors.required" style="color: red">
              Name required
            </div>
          </div>
          <label>Email</label>
          <input class="form-control" type="text" formControlName="email">
          <div *ngIf="userForm.controls.email.invalid && (userForm.controls.email.dirty || userForm.controls.email.touched)">
              <div *ngIf="userForm.controls.email.errors.required" style="color: red">
                Email is required
              </div>
              <div *ngIf="userForm.controls.email.errors.pattern" style="color: red">
                  Email is not valid
                </div>
            </div>
          <label>Mobile</label>
          <input class="form-control" type="text" formControlName="mobile">
          <div *ngIf="userForm.controls.mobile.invalid && (userForm.controls.mobile.dirty || userForm.controls.mobile.touched)">
              <div *ngIf="userForm.controls.mobile.errors.required" style="color: red">
                mobile is required
              </div>
              <div *ngIf="userForm.controls.mobile.errors.pattern" style="color: red">
                  mobile is not valid
                </div>
            </div><br>
          <div  style="text-align: center">
            <button class="btn btn-primary" (click)="save();activeModal.close('Close click')" [disabled] ="userForm.invalid">Subscribe</button>
          </div>
        </form>
   </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div> -->
  </div>
</div>